<% include layout-header %>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <h1>Dashboard</h1>
    <form id="newPoll" action="/addPoll" method="POST">
        Poll Question:
        <br>
        <input class="input" type="text" name="question" placeholder="Question">
        <br> Options: <a id="moreBtn" class="btn-floating waves-effect waves-light"><i class="material-icons">add</i></a>
        <br>
        <div id="optionSection">
            <input class="input" type="text" name="options" placeholder="First option">
            <br>
            <input class="input" type="text" name="options" placeholder="Second option">
            <br>
        </div>
        <span id="errorMsg"></span>
        <a id="submitBtn" class="waves-effect waves-light btn">Create</a>
    </form>
    <script>
        $(document).ready(function() {
           $("#moreBtn").on("click", function(){
               $("#optionSection").append('<span><input class="input" type="text" name="options"><a class="rmBtn btn-floating waves-effect waves-light red"><i class="material-icons">clear</i></a><br></span>');
           });
           $("#submitBtn").click(function(){
              $("#submitBtn").closest('form').submit();
           });
           $("body").on("click", ".rmBtn", function(e){
              $(e.target).closest("span").remove();
           });
           $("#newPoll").on("submit", function(e) {
                var isValid = true;
                var errorTxt = "";
                var count = 0;
                var options = $('input[name=options]');
                var totalOptions = options.length;
                for (var i = 0; i < totalOptions; i++) {
                    if ($(options[i]).val() !== "") {
                        count++;
                    }
                }
                if ($('input[name=question]').val() === "") {
                    isValid = false;
                    errorTxt = "Please enter the poll question. ";
                }
                if (count < 2) {
                    isValid = false;
                    errorTxt = errorTxt + "Please enter at least two options.";
                }
                if (!isValid){
                    $("#errorMsg").html("<span style='font-weight:bold' class='red-text text-darken-4'>" + errorTxt + "</span>");
                    e.preventDefault();
                }
            });
        });
    </script>
    <% include layout-footer %>
