<% include layout-header %> 
<h1><%=poll.question%></h1> 
<canvas id="myChart" width="200" height="200"></canvas> 
<div id="legend"></div> 
<script src="/bower_components/Chart.js/Chart.min.js"></script> 
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script> var options=['<%-poll.options.join("','")%>'];
var votes=[ <%=poll.votes %>];
</script> <style type="text/css">
#legend {
    list-style-type: none;
}

.legendEntry { 
    padding-left: 10px;
}

.legendEntry:before {
    content: "■ ";
    border-radius: 5px
}

.noColor {
    color: black;
}

</style> <script src="/public/js/chart.js"></script> <% include layout-footer %>