<% include layout-header %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Votify</h1>
      <div class="row center">
        <h5 class="header col s12 light">Create custom polls with live results.</h5>
      </div>
      <div class="row center">
        <a href="/auth/github" 
            id="download-button" 
            class="btn-large waves-effect waves-light orange">
            <i class="material-icons left github">
                <img src="/public/img/github_32px.png"/>
            </i>
            Login with Github
        </a>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i style="padding-top: 27px; padding-bottom: 23px;" class="large material-icons">flash_on</i></h2>
            <h5 class="center">Live Results</h5>

            <p class="light">Live graphs show your poll results immediately in an easy to understand format. One graph will not provide the whole picture, that's why we provide multiple graph types to better describe your results.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img style="height: 103px; padding-top: 20px;" src="https://raw.githubusercontent.com/materialos/Android-Icon-Pack/master/Project/MaterialOS/app/src/main/icons/drawable-nodpi/browser.png"></h2>
            <h5 class="center" style="padding-top: 27px;">Works Everywhere</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><img style="height: 130px" src="http://i.imgur.com/9Yw07oG.png"></h2>
            <h5 class="center">Social Integration</h5>

            <p class="light">Free integrated Github or traditional comments allow your poll voters to provide immediate feedback and discuss results.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

<% include layout-footer %>