</div>
</body>
<footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">My Bio</h5>
          <p class="grey-text text-lighten-4">My name is Soham Ashodiya. I am a student at American High School who loves to code, play tennis, and watch anime.</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="soham1.github.io">Soham Ashodiya</a>
      </div>
    </div>
  </footer>
</html>