#mainBody {
    padding-left: 10px;
    min-height: 300px;
}

.github {
    padding-top: 4px;
}

.input {
    width: 700px !important;
}

.rmBtn {
    margin-left: 10px;
}

#moreBtn {
    margin-left: 5px;
}

.homeImg {
    width: 128px;
    height: 128px;
}

#url {
    width: 700px !important;
}
